<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  Out of stock
<% end %>

<div class="well">
  <%= form_for '', url: spree.out_of_stock_admin_reports_path  do |s| %>
      <div class="form-group date-range-filter">
        <%= label_tag nil, Spree.t(:date_range) %>
        <div class="date-range-filter row">
          <div class="col-md-6">
            <%= s.text_field :created_at_gt, class: 'datepicker datepicker-from form-control', value: datepicker_field_value(@from_date) %>
          </div>
          <div class="col-md-6">
            <%= s.text_field :created_at_lt, class: 'datepicker datepicker-to form-control', value: datepicker_field_value(@to_date) %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
  <% end %>

</div>

<table class="table table-bordered admin-report" data-hook="out_of_stock">
  <thead>
    <tr>
      <th><%= Spree.t(:sku) %></th>
      <th>Run-out-of-stock dates</th>
    </tr>
  </thead>
  <tbody>
    <% @movements_out_of_stock.each do |info| %>
      <tr>
        <td><%= info[:variant].sku %></td>
        <td><%= (info[:movements].pluck(:created_at).map{ |date| date.strftime('%Y %b %d') }). join(',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>